2-1

--2번
CREATE TABLE COUNTRY_TEST(
COUNTRY_ID NUMBER NOT NULL PRIMARY KEY,
COUNTRY_NAME VARCHAR2(100) NOT NULL);


--3번
ALTER TABLE COUNTRY_TEST
ADD REGION_ID NUMBER NULL;
DESC COUNTRY_TEST;

--4번
ALTER TABLE COUNTRY_TEST
MODIFY REGION_ID NUMBER NOT NULL
DESC COUNTRY_TEST;

--5번
DROP TABLE COUNTRY_TEST;




--2-2

--5번
SELECT *
FROM LOCATIONS
WHERE (LOCATION_ID>=2000
AND LOCATION_ID<3000);

--6번
SELECT *
FROM EMPLOYEES;

SELECT DEPARTMENT_ID
FROM EMPLOYEES
WHERE FIRST_NAME = 'David' 
AND SALARY>=6000;

SELECT DEPARTMENT_ID,LOCATION_ID
FROM DEPARTMENTS
WHERE DEPARTMENT_ID=80;

SELECT LOCATION_ID, COUNTRY_ID
FROM LOCATIONS
WHERE LOCATION_ID=2500;

--2-3
--1번
SELECT *
FROM EMPLOYEES
WHERE MANAGER_ID IS NULL;

--2번
DESC EMPLOYEES;

SELECT COMMISSION_PCT, SALARY
    ,CASE WHEN COMMISSION_PCT IS NULL THEN SALARY
          WHEN COMMISSION_PCT IS NOT NULL THEN SALARY+(SALARY*COMMISSION_PCT)
          END AS SALARY2
FROM EMPLOYEES;

--3번
SELECT EMPLOYEE_ID,FIRST_NAME,LAST_NAME
FROM EMPLOYEES
WHERE ROWNUM<1;

--4번
DESC LOCATIONS;

SELECT CITY
FROM LOCATIONS
WHERE CITY LIKE 'S%';

--5번
SELECT *
FROM LOCATIONS; 

SELECT POSTAL_CODE ||' - '|| STREET_ADDRESS ||' - '|| CITY ||' - '|| STATE_PROVINCE ||' - '|| COUNTRY_ID AS 주소
FROM LOCATIONS
WHERE COUNTRY_ID='US';

--6번
SELECT POSTAL_CODE ||' - '|| STREET_ADDRESS ||' - '|| CITY ||' - '|| STATE_PROVINCE ||' - '|| COUNTRY_ID AS 주소
FROM LOCATIONS
WHERE COUNTRY_ID='UK' AND POSTAL_CODE IS NOT NULL ;

--7번
SELECT 
     CASE WHEN POSTAL_CODE IS NULL THEN '99999'
     ELSE POSTAL_CODE
     END ||'-'||STREET_ADDRESS||'-'||CITY||'-'||STATE_PROVINCE||'-'||COUNTRY_ID AS 주소                
FROM LOCATIONS
WHERE COUNTRY_ID='UK';